---
import LangSwitcher from "./LangSwitcher.astro";
import { NAVIGATION } from "../../_settings";
import { getlangFromUrl } from "../../helper";

const url = new URL(Astro.request.url);
const language = getlangFromUrl(url);
---

<nav>
    <ul>
        {
            NAVIGATION[language].map((nav) => {
                return (
                    <li>
                        <a href={nav.href}>{nav.title}</a>
                    </li>
                );
            })
        }
    </ul>
    <div>---</div>
    <LangSwitcher />
</nav>
